<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>watsonChristopher_Assignment3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39BEF71D1C97574B0011B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39BEF7311C97574B0011B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39BEF73C1C97574B0011B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
